
// PARTIE LOCATION DE LA VILLE // 

#localisation {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: $grisClair2;
    i {
        padding: 0px 20px;
    }
}

// PARTIE FONCTIONNEMENT DU CONCEPT // 

#fonctionnement {
    margin: 40px 30px;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

#fonctionnement .item {
    position: relative;
    display: flex;
    padding: 30px;
    background-color: $grisClair;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);
    width: 100%;
    max-width: 500px;
    transition: opacity 1000ms, transform 1000ms, background-color 1000ms ;

        &:hover {
        background-color: $primairePale;
        opacity: 0.9;
        transform:scale(1.01);
        transition: opacity 190ms, transform 190ms, background-color 290ms ;
        }

        &:active {
            background-color: $primairePale;
            opacity: 0.9;
            transform:scale(1.01);
            transition: opacity 190ms, transform 190ms, background-color 290ms ;
            }

        i {
            padding: 0px 30px;
            font-size: 1.2em;
        }

        .rond {
            background-color: $primaire;
            text-align: center;
            color: $themeclair;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            position: absolute;
            left: -10px;
        }

        .rond p {
            margin-top: 3px;
        }
}

// PARTIE RESTAURANT A LA UNE //

#restaurant {
    background-color: $grisClair;
    padding: 40px 30px;
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .item2 {
        cursor: pointer;
        margin: 20px;
        padding: 0px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);
        border-radius: 30px;
        height: 290px;
        background-color: $themeclair;
        transition: opacity 1000ms;
        position: relative;
    
            &:hover {
            opacity: 0.8;
            transition: opacity 250ms;
            }


            .new {
                position: absolute;
                right: 15px;
                top: 15px;
                padding: 10px;
                background-color: $tertiaire;
                border-radius: 8px;
                p{
                    opacity: 0.7;
                }
            }
    
    
            .cardImg {
                width: 100%;
                height: 75%;
                object-fit: cover;
                border-radius: 26px 26px 0px 0px;
            }
    
            .sousContainer {
                display: flex;
                justify-content: space-between;
    
                .textContent {
                    padding: 10px;
                    margin-left: 5px;
                }
    
                .coeur {
                    padding: 10px;
                    margin-right: 5px;
                }
            }
    }
}

// ADAPTATION MOBILE //

// WEB //
@media screen and (min-width: 768px) {
    .item2 {
    width: 500px;
    }  
}

// MOBILE //

@media screen and (max-width: 767px) {
    .item2 {
    width: 100%;
    }
}

// MODIFICATION DU CONTENU DE LA PAGE //

#content {
    text-align: center;
    background-color: $grisClair;
    padding-bottom: 30px;
    padding: 40px 30px;
    h1 {
        padding-bottom: 20px;
    }
}

.logoPiedDePage {
    width: 100px;
}